<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="quiz.css">
    <title>Questions</title>
</head>

<body>
    <section>
        <h1 class="question">Question</h1>
        <br>
        <form action="/quiz" method="post">
            <p class="txt">{{ question }}</p>
            <input type="text" name="answer" placeholder="Enter your answer here.">
            <div id="submit-btn">
                <input type="submit" value="Next">
            </div>

            <div class="answer">
                Answer:
            </div>
            {% if empty_error %}
            <div class="check-text">
                <p style="color: red;">{{ empty_error }}</p>
            </div>
            {% endif %}
            {% if wrong_answer_error %}
            <div class="ans-container">
                <p style="color: red;">{{ wrong_answer_error }}</p>
            </div>
            {% endif %}
        </form>
    </section>
</body>

</html>