body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    background-color: #1F1F1F;
    font-family: Regular;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
    /* Use a valid font weight value */
}

/* Page quiz.html */
.question {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
    font-style: bold;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    width: 220px;
    height: 68px;
    position: relative;
    top: 87px;
    left: 158px;
}

.txt {
    width: 950px;
    height: 48px;
    position: relative;
    top: 30px;
    left: 187px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffffcc;
    padding: 10px;
}

input[type="text"] {
    width: 1200px;
    height: 66px;
    position: relative;
    background-color: #1f1f1f;
    top: 30px;
    left: 178px;
    border-radius: 20px;
    border: 3px solid #838383;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 20px;
    color: white;
}

input[type="submit"] {
    position: relative;
    top: 80px;
    left: 1200px;
    width: 200px;
    background: linear-gradient(86.91deg, #B62EA6 0%, #4B3684 102.34%);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.answer {
    color: #ffffffcc;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    width: 950px;
    height: 48px;
    position: relative;
    top: 80px;
    left: 187px;
}

.check-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 100;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    width: 950px;
    height: 48px;
    position: relative;
    top: 40px;
    left: 200px;
}

.ans-container {
    width: 1200px;
    height: auto;
    position: absolute;
    top: 600px;
    left: 187px;
    background-color: #343434;
    color: #FFFFFFCC;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

/* page quiz_completed */

.summ-container {
    width: 1200px;
    height: 336px;
    /* Specify max-height for scrollability */
    position: absolute;
    top: 250px;
    left: 187px;
    background-color: #343434;
    color: #FFFFFFCC;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 1cm;
}